{% extends "base.html" %}
{% block content %}

    <h2>{{ page_title }}</h2>
    <p>
        Duck is the common name for numerous species of waterfowl in the family Anatidae. Ducks are generally smaller
        and shorter-necked than swans and geese, which are members of the same family. Divided among several
        subfamilies, they are a form taxon; they do not represent a monophyletic group (the group of all descendants of
        a single common ancestral species), since swans and geese are not considered ducks. Ducks are mostly aquatic
        birds, and may be found in both fresh water and sea water.
        <br><br>
        Ducks are sometimes confused with several types of unrelated water birds with similar forms, such as loons or
        divers, grebes, gallinules and coots.
    </p>
    
    {% for member in company %}
        <div class="row featurette">

            {% if loop.index % 2 != 0 %}

                <div class="col-md-7">
                    <h3><a href="/about/{{ member.url }}">{{ loop.index }}, {{ member.name }}</a></h3>
                    <p>
                        {{ member.description }}
                    </p>
                </div>
                <div class="col-md-5">
                    <img src="{{ member.image_source}}" alt="" class="featurette-image image-responsive">
                </div>

            {% else %}

            <div class="col-md-5">
                <img src="{{ member.image_source}}" alt="" class="featurette-image image-responsive">
            </div>
            <div class="col-md-7">
                <h3><a href="/about/{{ member.url }}">{{ loop.index }}, {{ member.name }}</a></h3>
                <p>
                    {{ member.description }}
                </p>
            </div>

            {% endif %}
        </div>

        {% if loop.index != loop.length %}

        <hr class="featurette-divider">

        {% endif %}

    {% endfor %}
{% endblock %}